{% extends "base.html.twig" %}

{% block title %}Category edit
{% endblock %}

{% block body %}
	<div class="container">

		<h1 class="mt-4">Modification d'une catégorie</h1>

		<form name="category" method="post">

			<div class="form-group">
				{{ form_label(form.name) }}
				{{ form_widget(form.name) }}
				<div class="form-error">
					{{ form_errors(form.name) }}
				</div>
			</div>


			<button type="submit" id="product_submit" name="product[submit]" class="btn btn-primary mt-4">Modifier ma catégorie</button>

		</div>

	</form>
</div>{% endblock %}
