{% extends "base.html.twig" %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<div class="jumbotron">
			<h1 class="display-4">Bienvenue dans notre Ecommerce</h1>
			<p class="lead">Cette application vous permettra d'ajouter des produits</p>
			<hr class="my-4">
			<p>Pour commencer, rendez-vous sur la page d'inscription pour utiliser l'application.</p>
			<a class="btn btn-primary btn-lgz" href="{{ path('security.registration') }}" role="button">Inscription</a>
			<p>Si vous avez déjà un compte, connectez-vous</p>
			<a class="btn btn-primary btn-lgz" href="{{ path('security.login') }}" role="button">Connexion</a>
		</div>
	</div>
{% endblock %}

